# SET DICTONARIES AND TUPLES

In [1]:
##defining an empty set

set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [2]:
set_var={"avengers","ironman","hitman"}
print(set_var)
print(type(set_var))

{'hitman', 'ironman', 'avengers'}
<class 'set'>

In [3]:
# inbuilt functions in set

set_var.add("Hulk")
print(set_var)

{'Hulk', 'hitman', 'ironman', 'avengers'}

In [4]:
# difference update

set1={"avengers","ironman","hitman"}
set2={"avengers","ironman","hitman","hulk2"}


set2.difference(set1)

{'hulk2'}

In [11]:
# intersection update

set2.intersection(set1)

{'avengers', 'hitman', 'ironman'}

In [12]:
set1={"avengers","ironman","hitman"}
set2={"avengers","ironman","hitman","hulk2"}


set2.intersection_update(set1)

set2

{'avengers', 'hitman', 'ironman'}

In [15]:
## dictonaries

dict={}
type(dict)

dict

In [16]:
dict={1,2,3,4,5}
type(dict)

set

In [21]:
my_dict={"car1":"audi","car2":"bmw","car3":"mercidies benz"}

#access the item values based on keys

my_dict['car1']
my_dict['car3']

'mercidies benz'

In [23]:
# we can loop throught the dictionaries values,keys and items.

for x in my_dict:
    print(x)

car1
car2
car3

In [24]:
for x in my_dict.values():
    print(x)

audi
bmw
mercidies benz

In [25]:
for x in my_dict.items():
    print(x)

('car1', 'audi')
('car2', 'bmw')
('car3', 'mercidies benz')

In [26]:
#adding item in dictionaries

my_dict['car4']='audi 2.0'
my_dict

{'car1': 'audi', 'car2': 'bmw', 'car3': 'mercidies benz', 'car4': 'audi 2.0'}

In [34]:
my_dict.clear()
my_dict

{}

In [42]:
my_dict['car4']='audi 2.0'

my_dict.pop('car4', 'car1')

my_dict

{}

In [45]:
#Nested Dictionary

car1_model={'mercedies benz':1960}
car2_model={'Audi':1970}
car3_model={'ambassador':1980}

car_type={'car':car1_model,'car2':car2_model}
print(car_type)

{'car': {'mercedies benz': 1960}, 'car2': {'Audi': 1970}}

In [47]:
## accessing the items in the dictionary

print(car_type['car'])

{'mercedies benz': 1960}

In [49]:
print(car_type['car']['mercedies benz'])

1960

In [51]:
##TUPLES##


my_tuple=tuple()
 
type(my_tuple)

tuple

In [ ]:
my_tuple=()

In [53]:
type(my_tuple)

tuple

In [56]:
my_tuple=("krish","ankur","john")
my_tuple

('krish', 'ankur', 'john')

In [57]:
my_tuple[0]

'krish'

In [58]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('krish', 'ankur', 'john')

In [59]:
my_tuple[2]

'john'

In [64]:
##Inbuilt Function

my_tuple.count('ankur')

1

In [66]:
my_tuple.index('john')

2